.bolded {
    font-weight: bold;
}

.emphasis {
    font-size: 1.3em;
}

.error {
    color: red;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 90% !important;
}

.ui-panelgrid.info {
    margin-left: 300px;
}

.ui-panelgrid.login {
    margin-left: 300px;
}

.ui-panelgrid.login td, .ui-panelgrid.login tr {
    border-style: none;
}

.ui-panelgrid.signupcell td, .ui-panelgrid.signupcell tr {
    border-style: none;
}

.ui-panelgrid.lab td, .ui-panelgrid.lab tr {
    border-style: none;
}

.signup {
    margin-left: 200px;
    width: 800px;
}

.signup td, .signup tr {
    vertical-align: top;
    width: 33%;
}

#header{
    font-size: 1.3em;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

#footer{
    font-size: 0.7em;
    font-family: Arial;
    text-align: center;
    position: absolute;
    top: 95%;
    left: 45%;
}

#menu {
    background-color: beige;
    text-align: left;
    font-size: 1.2em;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    width: 200px;
    height: 60%;
}

#content {
    position: absolute;
    top: 100px;
    left: 50%; 
    width: 800px;
    margin-left: -400px;
}

.menuItem {
    padding: 5px;
}

.menuSubItem {
    padding-left: 25px;
}

.menuLink{
    text-decoration: none;
    color: #999999;
}

.menuLinkEmphased {
    text-decoration: none;
    color: crimson;
}

.semesters {
    width: 50%;
}